<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="cacheEnabled" value="true"/>
	</settings>
	
    <mappers>
        <mapper resource="BoardMapper.xml"/> <!-- 게시판 관련 메퍼 등록 -->
        <mapper resource="UserMapper.xml"/>  <!-- 유저 관련 메퍼 등록 -->
        <mapper resource="CommonMapper.xml"/>  <!-- 공통코드 관련 메퍼 등록 -->
    </mappers>
</configuration>